<h1>Works</h1>
<h2>Career</h2>
<p>Former professional basketball player, Mutombo played in the National
  Basketball Association for 18 seasons.</p>
<div class="team">
<h3>Teams</h3>
<ul>
  <li>Denver Nuggets</li>
  <li>Atlanta hawks</li>
  <li>Philadephia 76ers</li>
  <li>New Jersey Nets</li>
  <li>Houston Rockets</li>
</ul>
</div>
</div>
<div class="team">
<h3>Career Statistics</h3>
<ul>
  <li>Points - 11,729</li>
  <li>Rebounds - 12,359</li>
  <li>Blocks - 3,289</li>
</ul>
</div>