body {
  background-color: beige;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", "sans serif";
}

.navigation li a {
  text-decoration: none;
  /* border: 1px solid red; */
  color: black;
}

.navigation {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

h3 {
  /* border: 1px solid red; */
  /* display: flex;
  text-align: center; */
}

.team {
  display: flex;
  text-align: justify;
  justify-content: space-around;
  border: 1px solid red;
}
